<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Skill Sharing</h1>
  <p class="lead">A simple App  developed with Nodejs, Express, Mysql and Sequelize</p>
  <hr class="my-4" />
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
    doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signin"
      role="button"
    >Register</a>
  </div>
</div>