<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card bg-black text-white">
      <div class="card-header pt-5">
        <h4 class="text-center">
          Account Login
        </h4>
      </div>
      <div class="card-body">
        <form action="/auth/login" method="POST">
          <div class="mb-3">
            <label for="name">Usernameame:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="username"
              placeholder="Name"
              value="{{user.username}}"
            />
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Password"
              {{!-- value="{{password}}" --}}
            />
          </div>
          <button class="btn btn-success btn-block">
            Signup
          </button>
        </form>
        
        <% if(typeof validaciones != 'undefined') { %>
            <% validaciones.forEach( (validacion)=> { %>                 
              <div class="toast-container">
            <div class="toast" role="alert" aria-live="assertive" data-bs-autohide="false">
                <div class="toast-header">
                  <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
                  <strong class="me-auto">¡Atención!</strong>                 
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  <strong><%= validacion.msg %></strong> 
                </div>
            </div>
              </div>              
              <% }) %>
          <% } %>
      </div>
      <p class="text-center">Don't Have an Account? <a href="/auth/signup" class="text-info">Register</a></p>
    </div>
  </div>
</div>